body {
    color: rgb(230, 230, 230);
    background-color: #323232;
}

header, footer, main {
    border: 3px solid #626262;
    border-radius: 8px;
    margin-bottom: 8px;
}

#header, #footer, #main {
    border: 4px solid #323232;
    border-radius: 8px;
}

table {
    text-align: left;
}

#tableheader {
    background-color: #323266;
}

#tableitem {
    background-color: #323266;
}

input[type=text] {
    border-color: lightgray;
    border-radius: 8px;
    color: #323232;
    border: none;
}

input[type=button] {
    border-radius: 8px;
    background-color: rgb(98, 98, 98);
    color: rgb(230, 230, 230);
    border: none;
}

#copybutton:active {
    background-color: rgb(4, 4, 125);
}

input[type=checkbox] {
    width: 19px;
    height: 19px;
}