:root {
    --background-color: rgb(55, 81, 95);
    --secondary-background-color: rgb(39, 58, 68);
    --text-color: rgb(234, 222, 218);
    --border-color: rgb(72, 169, 166);
    --button-clicked-color: rgb(0, 185, 174);
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Helvetica, Arial, sans-serif;
}

header, footer, main {
    border: 3px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 8px;
}

#main p {
    border-left: 42px solid var(--background-color)
}

#header, #footer, #main {
    border: 4px solid var(--background-color);
    border-radius: 8px;
    padding: 4px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

td, th {
    padding: 4px;
    vertical-align: top;
}

tr {
    background-color: var(--secondary-background-color);
    border: 4px solid var(--background-color);
}

/* #checkboxcell {
    background-color: var(--background-color);
} */

input[type=text] {
    border-color: var(--border-color);
    border-radius: 8px;
    color: var(--background-color);
    border: none;
}

input[type=button] {
    border-radius: 8px;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    border: none;
}

#copybutton:active {
    background-color: var(--button-clicked-color);
}

input[type=checkbox] {
    height: 19px;
    width: 19px;
    margin: auto;
    display: block;
}

a {
    color: var(--text-color)
}