header {
    background-color: beige;
}

footer {
    background-color: beige;
}

table {
    text-align: left;
}

#tableheader {
    background-color: beige;
}

#tableitem {
    background-color: lightblue;
}

input {
    border-color: lightgray;
    border-radius: 8px;
    color: lightgray;
}

#namesearch {
    color: black;
    background-color: lightgray;
}

input.checkbox {
    display: inline-block;
}